.sobre-mim {
    background: #EAF2FD;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sobre-mim__descricao {
    margin: 1rem 0 1rem 0 ;
}

@media screen and (min-width: 0) {
    .sobre-mim__descricao {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    .sobre-mim__descricao {
        width: 66%;
    }
}
