body {
	font-family: 'Raleway', sans-serif;
	color: #464646;
	background: #F5F5F5;
}
.cabecalho {
	position: relative;
	width: 1136px;
	margin: 0 auto;
	padding: 32px 0;
}

.cabecalho img {
	position: absolute;
}

.cabecalho h1 {
	font-weight: 700;
	position: absolute;
	left: 32px;
	top: 34.5px;
}

nav {
	position: absolute;
	top: 34.5px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	color: #464646;
	font-weight: 500;
	text-decoration: none;
}
nav a:hover {
	color: #56CCF2;
	text-decoration: underline;
}

#email {
	font-weight: bold;
}

.apresentacao {
	position: static;
	align-items: center;
	width: 1136px;
	height: 330px;
	margin: 0 auto;
	padding: 33px 0;
}

.foto {
	width: 330px;
	height: 330px;
	border-radius: 50%;
	float: right;
}

.apresentacao h2{
	font-weight: bold;
	font-size: 52px;
	margin: 24px 0;
}

.apresentacao p {
	font-weight: 500;
	font-size: 22px;
	margin: 24px 0;
}
li a {
	align-items: center;
}

.redes-sociais li {
	display: inline;
	margin: 0 48px 0 0;
}

.redes-sociais a{
	color: #464646;
	font-weight: 500;
	text-decoration: none;
}

.redes-sociais a:hover {
	color: #56CCF2;
	text-decoration: underline;
}

.redes-sociais img {
	position: absolute;
}

.sobre-mim {
	background: #EAF2FD;
	padding: 64px;
}

.conteudo-sobre-mim {
	width: 1136px;
	margin: 0 auto;
}

.conteudo-sobre-mim h3 {
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 38px;
}

.conteudo-sobre-mim p {
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	margin: 16px 0;
	width: 751px;
}

.skills {
	margin: 32px 0;
}

.conteudo-skills, .conteudo-hobbies, .conteudo-formacao{
	width: 1136px;
	margin: 0 auto;
	
}

h4 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 32px 0;
}

.lista-skills, .lista-hobbies{
	text-align: center;
}
.lista-skills li, .lista-hobbies li{
	display: inline;
	margin: 0 16px 0 0;
}

.hobbies{
	margin: 88px 0 32px 0;
}

.formacao {
	background: #EAF2FD;
	padding: 82px 0;
}

.lista-formacao li{
	display: inline-block;
	vertical-align: top;
	margin: 0 14px 32px 0;
}

.lista-formacao img {
	width: 358px;
}

.curso {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	margin: 8px 0;
	width: 360px;
}

.projetos {
	padding: 32px 0;
}
.codificador, .forca {
	width: 1136px;
	height: 430px;
	margin: 0 auto;
}

.imagem-codificador {
	float: left;
	margin: 0 16px 0 0;
}

.informacoes-codificador{
	display: inline-block;
	position: relative;
	top: 147px;
}
.tituloProjeto {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	margin: 8px 0;
	width: 310px;
}

.botao-repositorio {
	margin: 8px 16px 0 0;
	width: 116px;
	height: 51px;
	background: #F5F5F5;
	color: #2A7AE4;
	border: 1px solid #2A7AE4;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
} 

.botao-repositorio:hover{
	background: #DFDADA;
}
.botao-ver-demo {
	margin: 8px 16px 0 0;
	width: 116px;
	height: 51px;
	background: #2A7AE4;
	color: #F5F5F5;
	border: 1px solid #F5F5F5;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
}

.botao-ver-demo:hover{
	background: #2060B6;
}

.imagem-forca {
	float: right;
	margin: 16px 0 0 16px;
}

.informacoes-forca{
	display: inline-block;
	position: relative;
	top: 147px;
}

.contato {
	background: #EAF2FD;
	padding: 64px;
}


.imagem-contato {
	margin-top: 64px;
}
.conteudo-contato {
	margin: 64px 0 0 16px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

h5 {
	font-weight: bold;
	font-size: 32px;
	margin: 0 0 16px 0;
}

.input-elementos {
	background: white;
	width: 632px;
	height: 40px;
	padding: 8px 12px;
	margin: 32px 0;
	border-radius: 4px;
}
.input-elementos label {
	color: #2A7AE4;
	width: 100%;
	margin: 0 0 8px 2px;

}

.input-padrao {
	border: none;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
    align-items: center;
	align-self: stretch;
	outline: 0;
	color: #A2A2A2;
}

#assunto {
	height: 100%;
}

#mensagem {
	border-radius: 4px;
	width: 632px;
	height: 101px;
	padding: 16px 12px;
	font-family: 'Raleway', sans-serif;
}
.botao-mensagem{
	margin-top: 32px;
	width: 165px;
	height: 51px;
	background: #2A7AE4;
	color: #F5F5F5;
	border: 1px solid #F5F5F5;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
}

.botao-mensagem:hover {
	background: #2060B6;
}
footer{
	background-color: white;
	text-align: center;
	padding: 32px;
}