body {
	font-family: 'Raleway', sans-serif;
	color: #464646;
	background: #F5F5F5;
}

.cabecalho {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 32px 0;
}

.cabecalho img {
	position: absolute;
}

.cabecalho h1 {
	font-weight: 700;
	position: absolute;
	left: 32px;
	top: 34.5px;
}

nav {
	position: absolute;
	top: 34.5px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	color: #464646;
	font-weight: 500;
	text-decoration: none;
}
nav a:hover {
	color: #56CCF2;
	text-decoration: underline;
}

#email {
	font-weight: bold;
}

