body {
	font-family: 'Raleway', sans-serif;
	
	background: #F5F5F5;
}

.cabecalho {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 32px 0;
}

.cabecalho h1 {
	font-weight: 700;
}

nav {
	position: absolute;
	top: 34.5px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	font-weight: 500;
}
nav li:hover {
	color: #56CCF2;
	text-decoration: underline;
}

#email {
	font-weight: bold;
}

